

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container Mycontainer theme-clr" >
<hr>





<div class="card  card-bd"  >
    <div class="container mb-3" >
        <form [formGroup]="forgot_password" (ngSubmit)="onSubmit(forgot_password)">
          <fieldset class=" mb-3">
            
            <h3 class="text-center mt-4"><img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" height="30px" width="30px">
            Forgot-Password</h3>
            <span class="help-block mb-3">
                Email address you use to log in to your account
                <br>
                We'll send you an email with instructions to choose a new password.
            <br>
              </span><br>
              <div class="form-group input-group mb-3">
                <span class="input-group-addon mb-3">
                  
                </span>
                <input name="" class="form-control mb-1" placeholder="Email"  type="email" required="" formControlName="email">
              </div>

              


              <button type="submit" class="btn btn-primary btn-block mb-3" >
                Continue
              </button>
              <p class="text-center">Go to Sign-in page...&nbsp;&nbsp;&nbsp; <a routerLink="/login" style="text-decoration: none;">click here</a> </p>                                                                 

            </fieldset>
          </form>
        
    </div>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>
