<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container theme-clr" >
<hr>





<div class="card  card-bd"  >
    <h3 class="d-flex justify-content-center py-3 text-capitalize ">Welcome {{name}} </h3>
    
    <div class="container">
        <form class="form-inline my-2 my-lg-0 ">
            <input class=" col-sm-4x" type="search" placeholder="Search by pincode" >
            <button class="btn btn-outline-success my-1 my-sm-0 mx-2" type="submit">Search</button>

            <div class="d-inline-flex p-2 ">
                <button type="button" class="btn btn-primary btn-lg mx-4">Housing Facility</button>
      <button type="button" class="btn btn-secondary btn-lg">Mess Facility</button>
            </div>
          </form>
    </div>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>

<!-- <span class="badge badge-info">{{name}}</span>  -->